@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
.card{
  width: 300px;
}

.card-img{
  width: 300px;
  position: relative;
}
.card-title{
  height: 45px;
  font-family: Montserrat;
  font-weight: 400;
}
.card-articul{
  font-family: Montserrat;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5px;
}
.card-color{
  font-family: Montserrat;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5px;
}
.price-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-price{
  font-family: Montserrat;
  font-weight: 500;
}
.favourite-icon{
  padding-right: 15px;
  width: 19px;
}
.card-footer{
  position: relative;
}
.card-button{
  position: absolute;
  z-index: 2;
  top: -270px;
  right: 60px;
  background-color: white;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
.card-button:hover{
  background-color: black;
  color: white;
}
