.header-wrapper{
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header{
  display: flex;
  justify-content: end;
}
.header-icons{
  width: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 30px;
  padding-right: 10px;
}
.favourite-img{
  width: 40px;
}
.favourite-count{
  text-align: center;
  background-color: white;
  width: 20px;
  border-radius: 10px;
  font-size: x-small;
  position: absolute;
  top: 5px;
  left: 26px;
}
.basket-img{
  width: 40px;
}
.basket-count {
  text-align: center;
  background-color: white;
  width: 20px;
  border-radius: 10px;
  font-size: x-small;
  position: absolute;
  top: 5px;
  left: 89px;
}